#### 시리즈(Series)

In [1]:
s = pd.Series([990412, 34522, 123123, 543634], index = ["서울", "부산", "대구", "제주"])
s

서울    990412
부산     34522
대구    123123
제주    543634
dtype: int64

In [2]:
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [3]:
s["서울"]

990412

In [4]:
s.index

Index(['서울', '부산', '대구', '제주'], dtype='object')

In [5]:
s.values

array([990412,  34522, 123123, 543634], dtype=int64)

In [6]:
s.value_counts

<bound method IndexOpsMixin.value_counts of 서울    990412
부산     34522
대구    123123
제주    543634
dtype: int64>

In [8]:
s.name = "인구 수" 
s.index.name = "도시"
s

도시
서울    990412
부산     34522
대구    123123
제주    543634
Name: 인구 수, dtype: int64

In [9]:
s / 1000000

도시
서울    0.990412
부산    0.034522
대구    0.123123
제주    0.543634
Name: 인구 수, dtype: float64

In [10]:
s[1:3]

도시
부산     34522
대구    123123
Name: 인구 수, dtype: int64

In [11]:
s[1], s["부산"]

(34522, 34522)

In [12]:
s[[0, 3, 1]]

도시
서울    990412
제주    543634
부산     34522
Name: 인구 수, dtype: int64

In [14]:
s[(240000 < s) & (s < 50000000)]

도시
서울    990412
제주    543634
Name: 인구 수, dtype: int64

In [15]:
s0 = pd.Series(range(3), index= ["a","b","c"])
s0

a    0
b    1
c    2
dtype: int64

In [16]:
s0.a

0

In [17]:
s0.b

1

In [18]:
"대전" in  s

False

In [19]:
"부산" in s

True

In [20]:
for k, v in s.items() : 
    print("%s = %d" % (k, v))

서울 = 990412
부산 = 34522
대구 = 123123
제주 = 543634

In [21]:
s1 = pd.Series({"서울" : 1241512, "부산" : 15426346, "인천" : 3546734, "대전" : 745754})
s1

서울     1241512
부산    15426346
인천     3546734
대전      745754
dtype: int64

In [23]:
s2 = pd.Series({"서울" : 7547456, "부산" : 643634, "인천" : 124125},
              index = ["부산", "인천", "서울"]) # index를 리스트로 지정하면 순서 정할 수 있음
s2

부산     643634
인천     124125
서울    7547456
dtype: int64

In [24]:
ds = s2 - s1
ds

대전           NaN
부산   -14782712.0
서울     6305944.0
인천    -3422609.0
dtype: float64

In [25]:
s1.values - s2.values

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [26]:
ds.notnull()

대전    False
부산     True
서울     True
인천     True
dtype: bool

In [27]:
ds[ds.notnull()]

부산   -14782712.0
서울     6305944.0
인천    -3422609.0
dtype: float64

In [29]:
rs = (s1 - s2) / s2 * 100
rs = rs[rs.notnull()]
rs

부산    2296.757474
서울     -83.550590
인천    2757.388922
dtype: float64

In [30]:
rs["부산"] = 1.6

In [31]:
rs

부산       1.600000
서울     -83.550590
인천    2757.388922
dtype: float64

In [32]:
del rs["인천"]

In [33]:
rs

부산     1.60000
서울   -83.55059
dtype: float64